<nav class="bg-[rgb(0_123_254)]">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-center h-20">
      <%= link_to root_path do %>
        <div class="text-center">
          <h1 class="text-3xl font-bold text-white tracking-tight">CALCULADORA DE CONSTANTES MEDICAS</h1>
        </div>
      <% end %>
    </div>
  </div>
</nav>
