<div
  id="constant-modal"
  class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm flex items-start justify-center p-4 z-50 overflow-y-auto"
  data-action="click->modal#handleBackdropClick"
>
  <div class="bg-white rounded-lg shadow-xl w-full max-w-md mt-20 p-6 relative">
    <button
      type="button"
      data-action="click->modal#close"
      class="absolute top-4 right-4 text-gray-400 hover:text-gray-600"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>

    <div class="mt-3">
      <h3 class="text-lg font-medium text-gray-900 mb-4">Nueva Lectura</h3>
    </div>

    <%=
      turbo_frame_tag "constant_form",
        data: { turbo: false } do
          render "constants/form_modal", constant: Constant.new
        end
    %>
  </div>
</div>
